/Library/
/Temp/
/Obj/
/Build/
/Builds/
/ProjectSettings/ProjectVersion.txt
/Assets/AssetStoreTools*
/Packages/
/Logs/
/.vs/

*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj
